@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{

    margin:0;
    padding:0;
}

body{
    background:url('https://images.unsplash.com/photo-1561484930-998b6a7b22e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.fa-solid {
    color: rgb(252, 150, 114);
    padding-right: 10px;
}

.city-search-container {
    display: flex;
    flex-direction: column;
}

.city-search {
    color: #eee;
    background: rgba(24,24,27, 0.6);
    padding:15px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;

}

.weatherIcon {
    font-size: 20px;
    text-shadow: #000000 3px 2px 5px;
}

.container {
    padding: 20px 60px;
    color:#fff;
}

.current-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.date-container{
    font-weight: 200;
}

.date-container .time{
    font-size: 70px;
    text-shadow: #000000 3px 2px 5px;
}

.date-container #am-pm{
    font-size: 30px;
    text-shadow: #000000 3px 2px 5px;
    
}

.date-container .date{
    font-size: 30px;
    text-shadow: #000000 3px 2px 5px;
    padding-bottom: 10px;
}


.current-info .others .weather-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    text-shadow: #000000 3px 2px 5px;
}

#current-temp .temp {
    padding-left: 30px;
}

#current-temp.today {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-shadow: #000000 3px 2px 5px;
    font-weight: 200;
}



img.w-icon {
    margin: 0;
}


.future-forecast {
    padding: 15px;
    position: fixed;
    bottom: 0;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}



.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}


.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
}


.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4)
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 10px;
    background: rgba(7, 143, 254, 0.766);
    color: white;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 200;
    font-size: 14px;
}



@media only screen and  (max-width:730px){
    
    .container{
        padding: 20px;
      
    }

    #current-temp.today {
        justify-content: start;
        align-items: none;
    }
    
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    

    .current-info .others .weather-item{
        font-size: 16px;
    }

}

@media only screen and (max-width: 1400px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}

/* Google location menu */
.pac-icon {
    display: none;
  }

 
  .pac-item {
    color:rgb(252, 150, 114);
    font-size: 16px;
    text-shadow: #000000 1px 1px;
  }
 
  .pac-item-query {
    color:rgb(252, 150, 114);
    font-size: 16px;
    padding-right: 14px;
    text-shadow: #000000 1px 1px;
  }


  .pac-container {
    background: rgba(24,24,27, 0.6);
    padding:15px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
  }