* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

}

h2 {
    text-align: right;
}


.container {
    padding: 20px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.results .info {
    display: flex;
    justify-content: space-between;  
    min-width: 22vh; 
}




