@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital@1&display=swap');

body {
    background-color: rgba(18, 18, 18, 0.838);
    margin: 0;
    font-family: 'Quicksand';
    color: cornflowerblue;
}

.date-container {
    padding: 25px;
    font-weight: 200;
}

.date-container .time {
    font-size: 70px;
    text-shadow: #000000 3px 2px 5px;
}

.date-container #am-pm {
    font-size: 30px;
    text-shadow: #000000 3px 2px 5px;
    
}

.date-container .date {
    font-size: 30px;
    text-shadow: #000000 3px 2px 5px;
    padding-bottom: 10px;
}

.container {
    display: block;
    justify-content: space-between;
    padding: 50px;
    font-size: 25px;
    font-weight: 50em;
    max-width: 70vh;
}

.results .info {
    display: flex;
    justify-content: space-between;
   
}

.adsmi {
    color: white;
    padding: 25px;

}

.aex {
    color: white;
    padding: 25px;
    
}

.co1 {
    color: white;
    padding: 25px;
}

.gc1 {
    color: white;
    padding: 25px;
}

.info {
    text-align: center;
}